@model WebAPI.Web.Models.HomeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts.cshtml";
}
@section Sidebar{
    <div class="sidebar_widget wishlist mb-35">
        <div class="block_title">
            <h3><a href="san-pham.html">Sản phẩm có lượt xem nhiều nhất</a></h3>
        </div>
        @foreach (var product in Model.HotCountProducts)
        {
            var url = "/" + product.Alias + "-" + product.ID + "-p" + ".html";
            <div class="cart_item">
                <div class="cart_img">
                    <a href="@url"><img src="@product.Image" alt="@product.Name"></a>
                </div>
                <div class="cart_info">
                    <a href="@url">@product.Name</a>
                    <span class="cart_price">$@product.Price</span>
                    <span class="quantity">Qty: @product.ViewCount</span>
                </div>
            </div>

        }

        <div class="block_content">
            <p>3  Sản phẩm</p>
            <a href="san-pham-ban-chay.html">» Xem tất cả</a>
        </div>
    </div>
}
<div class="col-lg-9 col-md-12">
    <!--banner slider start-->
    <div class="banner_slider slider_1">
        <div class="slider_active owl-carousel">
            @foreach (var slide in Model.Slides)
            {
                <div class="single_slider" style="background-image: url(@slide.Image)">
                    <div class="slider_content">
                        <div class="slider_content_inner">
                            @Html.Raw(slide.Content)
                            <a href="@slide.Url">shop now</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <!--banner slider start-->
    <!--new product area start-->
    <div class="new_product_area">
        <div class="block_title">
            <h3>Sản phẩm mới nhập về</h3>
        </div>
        <div class="row">
            <div class="product_active owl-carousel">
                @foreach (var product in Model.LastestProducts)
                {
                    var url = "/" + product.Alias + "-" + product.ID + "-p" + ".html";
                    <div class="col-lg-3">
                        <div class="single_product">
                            <div class="product_thumb">
                                <a href="@url"><img src="@product.Image" alt=""></a>
                                <div class="img_icone">
                                    <img src="@product.ImageHotTag" alt="">
                                </div>
                                <div class="product_action">
                                    <a href="#"> <i class="fa fa-shopping-cart"></i> Add to cart</a>
                                </div>
                            </div>
                            <div class="product_content">
                                <span class="product_price">$@product.Price.ToString("N0")</span>
                                <h3 class="product_title"><a href="single-product.html">@product.Name</a></h3>
                            </div>
                            <div class="product_info">
                                <ul>
                                    <li><a href="#" title=" Add to Wishlist ">Add to Wishlist</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#modal_box" title="Quick view">View Detail</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--new product area start-->
    <!--featured product start-->
    <div class="featured_product">
        <div class="block_title">
            <h3>Sản phẩm nổi bật</h3>
        </div>
        <div class="row">
            <div class="product_active owl-carousel">
                @foreach (var product in Model.TopSaleProducts)
                {
                    var url = "/" + product.Alias + "-" + product.ID + "-p" + ".html";

                    <div class="col-lg-3">
                        <div class="single_product">
                            <div class="product_thumb">
                                <a href="@url"><img src="@product.Image" alt=""></a>
                                <div class="hot_img">
                                    <img src="@product.ImageHotTag" alt="">
                                </div>
                                <div class="product_action">
                                    <a href="#"> <i class="fa fa-shopping-cart"></i> Add to cart</a>
                                </div>
                            </div>
                            <div class="product_content">
                                <span class="product_price">$@product.Price.ToString("N0")</span>
                                <h3 class="product_title"><a href="single-product.html">@product.Name</a></h3>
                            </div>
                            <div class="product_info">
                                <ul>
                                    <li><a href="#" title=" Add to Wishlist ">Add to Wishlist</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#modal_box" title="Quick view">View Detail</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--featured product end-->
    <!--banner area start-->
    <div class="banner_area mb-60">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single_banner">
                    <a href="#"><img src="/Assets/client/img/banner/banner7.jpg" alt=""></a>
                    <div class="banner_title">
                        <p>Up to <span> 40%</span> off</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_banner">
                    <a href="#"><img src="/Assets/client/img/banner/banner8.jpg" alt=""></a>
                    <div class="banner_title title_2">
                        <p>sale off <span> 30%</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--banner area end-->
    <!--brand logo strat-->
    <div class="brand_logo mb-60">
        <div class="block_title">
            <h3>Brands</h3>
        </div>
        <div class="row">
            <div class="brand_active owl-carousel">
                <div class="col-lg-2">
                    <div class="single_brand">
                        <a href="#"><img src="/Assets/client/img/brand/brand1.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="single_brand">
                        <a href="#"><img src="/Assets/client/img/brand/brand2.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="single_brand">
                        <a href="#"><img src="/Assets/client/img/brand/brand3.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="single_brand">
                        <a href="#"><img src="/Assets/client/img/brand/brand4.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="single_brand">
                        <a href="#"><img src="/Assets/client/img/brand/brand5.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="single_brand">
                        <a href="#"><img src="/Assets/client/img/brand/brand6.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--brand logo end-->
</div>