@model WebAPI.Web.Models.ContactDetailViewModel

@{
    ViewBag.Title = "Liên Hệ";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

@section footerJS{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUBgD300KJUSGUYgFA9BiBBNzshvsSXaw"></script>
    <script src="~/Assets/client/js/Controller/Contact.js"></script>

}
<style>
    #map {
        height: 400px;
    }
</style>
<input type="hidden" id="hidAddress" value="@Model.Name <br /> Điện thoại:@Model.Phone <br /> Địa chỉ: @Model.Address" />
<input type="hidden" id="hidLat" value="@Model.Lat" />
<input type="hidden" id="hidlng" value="@Model.Lng" />
<input type="hidden" id="hidName" value="@Model.Name" />
<div class="breadcrumbs_area">
    <div class="row">
        <div class="col-12">
            <div class="breadcrumb_content">
                <ul>
                    <li><a href="index.html">home</a></li>
                    <li><i class="fa fa-angle-right"></i></li>
                    <li>contact</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--breadcrumbs area end-->
<!--contact area start-->
<!-- Async script executes immediately and must be after any DOM elements used in callback. -->

<div class="contact_area">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="contact_message">
                <h3>Thông Tin Liên Hệ</h3>
                <form id="contact-form" method="POST" action="assets/mail.php">
                    <div class="row">
                        <div class="col-lg-6">
                            <input name="name" placeholder="Tên *" type="text">
                        </div>
                        <div class="col-lg-6">
                            <input name="email" placeholder="Email *" type="email">
                        </div>
                        <div class="col-lg-6">
                            <input name="Website" placeholder="Website *" type="text">
                        </div>
                        <div class="col-lg-6">
                            <input name="phone" placeholder="Điện Thoại *" type="text">
                        </div>
                        <div class="col-lg-6">
                            <input name="Address" placeholder="Địa Chỉ *" type="text">
                        </div>

                        <div class="col-12">
                            <div class="contact_textarea">
                                <textarea placeholder="Message *" name="message" class="form-control2"></textarea>
                            </div>
                            <button type="submit"> Gửi </button>
                        </div>
                        <div class="col-12">
                            <p class="form-messege">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-lg-6 col-md-12">
            <div class="contact_message contact_info">
                <h3>Về chúng tôi</h3>
                <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram anteposuerit litterarum formas human.</p>
                <ul>
                    <li><i class="fa fa-fax"></i>  Address : @Model.Address</li>
                    <li><i class="fa fa-phone"></i> <a href="#">@Model.Phone</a></li>
                    <li><i class="fa fa-envelope-o"></i> @Model.Email</li>
                </ul>
                <h3><strong>Giờ Làm Việc</strong></h3>
                <p><strong>Thứ Hai - Thứ Bảy</strong>:  8AM – 22PM</p>
            </div>
        </div>
    </div>
</div>

<!--contact area end-->
<!--contact map start-->
<div class="contact_map">
    <div class="row">
        <div class="col-12">
            <div id="map"></div>
        </div>
    </div>
</div>
<!--contact map end-->