@model IEnumerable<WebAPI.Web.Models.ProductCategoryViewModel>

<!--sidebar banner-->
<div class="sidebar_widget banner mb-35">
    <div class="banner_img mb-35">
        <a href="#"><img src="/Assets/client/img/banner/banner5.jpg" alt=""></a>
    </div>
    <div class="banner_img">
        <a href="#"><img src="/Assets/client/img/banner/banner6.jpg" alt=""></a>
    </div>
</div>
<!--sidebar banner end-->
<!--categorie menu start-->
<div class="sidebar_widget catrgorie mb-35">
    <h3>Categories</h3>
    <ul>
        @foreach (var category in Model.Where(x => x.ParentID == null))
        {
            var url = "/" + category.Alias + "-" + category.ID + ".pc" + ".html";
            var childCategories = Model.Where(x => x.ParentID == category.ID);

            <li class="has-sub">
                <a href="@url">
                    <i @(childCategories.Count() > 0 ? "class=fa-caret-right" : "")></i>
                    @category.Name
                </a>

                @if (childCategories.Count() > 0)
                {
                    <ul class="categorie_sub">
                        @foreach (var childCategory in childCategories)
                        {
                            var childurl = "/" + childCategory.Alias + ".pc-" + childCategory.ID + ".html";
                            <li>
                                <a href="@childurl"><i class="fa fa-caret-right"></i> @childCategory.Name</a>
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
</div>
<!--categorie menu end-->
<!--wishlist block start-->
<!--wishlist block end-->
<!--popular tags area-->
<div class="sidebar_widget tags mb-35">
    <div class="block_title">
        <h3>Tag phổ biến</h3>
    </div>
    <div class="block_tags">
        @foreach (var tag in (IEnumerable<WebAPI.Web.Models.TagViewModel>)ViewBag.ListTag)
        {
            <a href="/tag/@(tag.ID).html">@tag.Name</a>
        }
    </div>
</div>
<!--popular tags end-->
<!--newsletter block start-->
<div class="sidebar_widget newsletter mb-35">
    <div class="block_title">
        <h3>newsletter</h3>
    </div>
    <form action="#">
        <p>Sign up for your newsletter</p>
        <input placeholder="Your email address" type="text">
        <button type="submit">Subscribe</button>
    </form>
</div>
<!--newsletter block end-->