@using Microsoft.AspNet.Identity
@model List<WebAPI.Model.Models.Menu>
<div class="header_area">
    <!--header top-->
    <div class="header_top">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="switcher">
                    <ul>
                        <li class="languages">
                            <a href="#"><img src="/Assets/client/img/logo/fontlogo.jpg" alt=""> English <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown_languages">
                                <li><a href="#"><img src="/Assets/client/img/logo/fontlogo.jpg" alt=""> English</a></li>
                                <li><a href="#"><img src="/Assets/client/img/logo/fontlogo2.jpg" alt=""> French </a></li>
                            </ul>
                        </li>

                        <li class="currency">
                            <a href="#"> Currency : $ <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown_currency">
                                <li><a href="#"> Dollar (USD)</a></li>
                                <li><a href="#"> Euro (EUR)  </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="header_links">
                    @using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { @id = "frmLogout" }))
                    {
                        <ul>

                            @if (Request.IsAuthenticated)
                            {

                                @Html.AntiForgeryToken()

                                <li><a href="wishlist.html" title="wishlist">My wishlist</a></li>
                                <li><a href="/tai-khoan.html" title="My account">Xin Chào: @User.Identity.GetUserName()</a></li>
                                <li><a href="#" id="btnLogout">Đăng Xuất</a></li>
                            }

                            else
                            {

                                <li><a href="/dang-nhap.html" title="Login">Đăng Nhập</a></li>
                                <li><a href="/dang-ki.html" title="register">Đăng Kí</a></li>

                            }
                            <li><a href="/gio-hang.html" title="My cart">Giỏ Hàng</a></li>
                            <li><a href="/lien-he.html" title="Contact">Liên Hệ</a></li>
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
    <!--header top end-->
    <!--header middel-->
    <div class="header_middel">
        <div class="row align-items-center">
            <!--logo start-->
            <div class="col-lg-3 col-md-3">
                <div class="logo">
                    <a href="/Home/Index"><img src="/Assets/client/img/logo/logo.jpg.png" alt=""></a>
                </div>
            </div>
            <!--logo end-->
            <div class="col-lg-9 col-md-9">
                <div class="header_right_info">
                    <div class="search_bar">
                        <form action="/tim-kiem.html" method="get">
                            <input placeholder="Nhập sản phẩm cần tìm..." type="text" name="keyword" id="txtKeyword">
                            <button type="submit"><i class="fa fa-search" id="btnSearch"></i></button>
                        </form>
                    </div>
                    <div class="shopping_cart">
                        <a href="#"><i class="fa fa-shopping-cart"></i> 2Items - $209.44 <i class="fa fa-angle-down"></i></a>

                        <!--mini cart-->
                        <div class="mini_cart">
                            <div class="cart_item">
                                <div class="cart_img">
                                    <a href="#"><img src="/Assets/client/img/cart/cart.jpg" alt=""></a>
                                </div>
                                <div class="cart_info">
                                    <a href="#">lorem ipsum dolor</a>
                                    <span class="cart_price">$115.00</span>
                                    <span class="quantity">Qty: 1</span>
                                </div>
                                <div class="cart_remove">
                                    <a title="Remove this item" href="#"><i class="fa fa-times-circle"></i></a>
                                </div>
                            </div>
                            <div class="cart_item">
                                <div class="cart_img">
                                    <a href="#"><img src="/Assets/client/img/cart/cart2.jpg" alt=""></a>
                                </div>
                                <div class="cart_info">
                                    <a href="#">Quisque ornare dui</a>
                                    <span class="cart_price">$105.00</span>
                                    <span class="quantity">Qty: 1</span>
                                </div>
                                <div class="cart_remove">
                                    <a title="Remove this item" href="#"><i class="fa fa-times-circle"></i></a>
                                </div>
                            </div>
                            <div class="shipping_price">
                                <span> Shipping </span>
                                <span>  $7.00  </span>
                            </div>
                            <div class="total_price">
                                <span> total </span>
                                <span class="prices">  $227.00  </span>
                            </div>
                            <div class="cart_button">
                                <a href="checkout.html"> Check out</a>
                            </div>
                        </div>
                        <!--mini cart end-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--header middel end-->
    <div class="header_bottom">
        <div class="row">
            <div class="col-12">
                <div class="main_menu_inner">
                    <div class="main_menu d-none d-lg-block">
                        <nav>
                            <ul>
                                @foreach (var item in Model.Where(x => x.GroupID == 1))
                                {
                                    var child = Model.Where(x => x.ParentID == item.ID);<!--lấy ra danh sách con khi ID cha giống ID con-->
                                    var parentClass = child.Count() > 0;
                                    var itemdropdown = child.Count() > 0;
                                    <li>

                                        <a href="/@item.URL" target="@item.Target">@item.Name</a>
                                        @if (child.Count() > 0)
                                        {
                                            <div class="mega_menu jewelry">
                                                <div class="mega_items jewelry">
                                                    <ul>
                                                        @foreach (var chidItem in child)
                                                        {
                                                            <li><a href="/@chidItem.URL">@chidItem.Name</a></li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        }
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                    <div class="mobile-menu d-lg-none">
                        <nav>
                            <ul>
                                @foreach (var item in Model.Where(x => x.GroupID == 1))
                                {
                                    var child = Model.Where(x => x.ParentID == item.ID);<!--lấy ra danh sách con khi ID cha giống ID con-->
                                    var parentClass = child.Count() > 0;
                                    var itemdropdown = child.Count() > 0;
                                    <li>

                                        <a href="/@item.URL" target="@item.Target">@item.Name</a>
                                        @if (child.Count() > 0)
                                        {
                                            <div class="mega_menu jewelry">
                                                <div class="mega_items jewelry">
                                                    <ul>
                                                        @foreach (var chidItem in child)
                                                        {
                                                            <li><a href="/@chidItem.URL">@chidItem.Name</a></li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        }
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>